---
layout: default
---

<div class="header-container jumbotron">
    <div class="container">
        <h1>Zrythm - a free GNU/Linux DAW</h1>
        <p>Zrythm is a free modern music production system, also known as DAW. It aims to be highly modular, meaning everything should be automatable and inter-connectable, making it suitable for electronic music.</p>
        <p><a class="btn btn-primary btn-lg" href="{{ "/docs/home/" | prepend: site.baseurl }}" role="button">Learn more</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="header-light regular-pad">About Zrythm</h2>
            <p class="lead">Zrythm is built using C and the <a href="https://www.gtk.org/">GTK+3</a> toolkit and borrows ideas, concepts and code from other projects
              such as <a href="https://ardour.org/">Ardour</a>, Jalv, Bitwig and Cubase. It is built with the intention to provide GNU/Linux users a full-featured
              alternative to proprietary DAWs and offers a unique approach to workflow that other GNU/Linux DAWs lack. Zrythm is <strong><a href="https://www.gnu.org/philosophy/free-sw.en.html">free software</a> licensed under the GPLv3+</strong> and its source code is available on <a href="https://gitlab.com/alextee/zrythm">GitLab</a>.
        </div>
        <div class="col-md-6 text-center">
            <img src="img/Screenshot_20190105_165238.png" alt="Screenshot of Zrythm" class="img-responsive">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <h1 class="text-center"><i class="fa fa-linux" aria-hidden="true"></i></h1>
            <h3 class="text-center">Easy to install</h3>
            <p>Packages are available for Arch Linux, Debian, Ubuntu and Fedora GNU/Linux distros. See <a href="https://gitlab.com/alextee/zrythm#installation">
                Installation</a> for installation instructions.
            </p>
        </div>
        <div class="col-sm-4">
            <h1 class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i></h1>
            <h3 class="text-center">Smart features</h3>
            <p>Automation curves, built-in LFOs and envelopes for automation, chord track to assist with chord progressions, and other cool features to make our life
              easier so we can focus on what matters - making music.
            </p>
        </div>
        <div class="col-sm-4">
            <h1 class="text-center"><i class="fa fa-desktop" aria-hidden="true"></i></h1>
            <h3 class="text-center">Clean interface</h3>
            <p>Making art should be a nice experience. Zrythm tries to keep the interface clean and pleasant to work with with a color scheme that is easy on the eyes and
              hideable docks.
        </div>
    </div>
</div>
