---
layout: default
---

<div class="container">
    <div class="row">
            <h1>{{ page.title }}</h1>
            <div id="markdown-content-container">{{ content }}</div>
            <hr>
            {% include section_nav.html %}
        </div>

    </div>
</div>

